/* .app-con {
  display: flex;
  flex-direction: column;     
  align-items: center;        
  justify-content: center;    
  min-height: 100vh;         
  gap: 40px;                  
  background-color: #f0f0f0;
} */
.card-container{
  display: flex;
  word-spacing: normal;
   justify-content: center; 
  gap: 20px;               
  margin-top: 40px;      
  flex-wrap: wrap;  
}