.navbar {
  display: flex;
  justify-content: center;  /* center the content horizontally */
  align-items: center;
  background-color: #665454;
  padding: 10px 20px;
  color: white;
  width: 100%;  /* full width */
  font-family: sans-serif;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: 20px; /* optional spacing from logo */
}

.nav-links li {
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}
